.messages {
  width: 100%;
  height: 100%;
}

.messages > div {
  width: 100%;
  height: 100%;
}

.wa-scrollbar-hidden {
  scrollbar-width: thin;
}

.wa-scrollbar-hidden::-webkit-scrollbar {
  width: 5px;
}

.wa-scrollbar-hidden::-webkit-scrollbar-thumb {
  background: rgba(84, 101, 111, 0.2);
  border-radius: 10px;
}